.scrollable-segment-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollable-segment-container::-webkit-scrollbar {
  display: none; /* WebKit */
}

.custom-segmented {
  display: inline-flex;
  flex-wrap: nowrap;
  background-color: var(--ant-component-background);
  border-radius: var(--ant-border-radius);
}

.custom-segmented .ant-segmented-item-selected {
  color: #ff5c5c !important;
}

.custom-segmented .ant-segmented-thumb {
  background-color: #fff2f0 !important;
}

.custom-segmented .ant-segmented-item {
  text-align: center;
}

.custom-segmented .ant-segmented-item span {
  white-space: nowrap;
}

.segment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 12px;
}

.segment-item-mobile {
  padding: 8px;
}

.segment-item span {
  text-align: center;
}

@media (max-width: 768px) {
  .custom-segmented .ant-segmented-item {
    font-size: 12px;
    flex: 1 0 50%;
  }

  .custom-segmented .ant-segmented-item span {
    white-space: normal;
  }

  .segment-item {
    flex-direction: row;
    gap: 8px;
  }

  .segment-item span {
    font-size: 12px;
  }
}

